<nav class="font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-gray-800 shadow sm:items-baseline w-full">
  <div class="mb-2 sm:mb-0">
    <a class="text-2xl no-underline text-white hover:text-blue-dark">Error Console</a>
  </div>
  <div>
    <a class="text-white hover:bg-blue-600 hover:text-white px-3 py-2 rounded-md text-large font-sans" (click)="currentProject=project.projectName; getErrors()" style="cursor: pointer;" *ngFor="let project of projects | async">{{ project.projectName }}</a>
    <a *ngIf="auth.isLoggedIn == true" (click)="auth.logout()" style="cursor: pointer;" class="text-white bg-blue-600 text-white px-3 py-2 mx-1 rounded-md text-large font-sans">Logout</a>

  </div>
</nav>

<p class="text-lg text-center font-bold m-5">{{ currentProject }}</p>
<table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-800 text-gray-200">

<tr class="text-left border-b border-gray-300">
  <th class="px-4 py-3 w-1/12">Timestamp</th>
  <th class="px-4 py-3 w-2/12">Error Type</th>
  <th class="px-4 py-3 w-4/12">Error Message</th>
  <th class="px-4 py-3 w-3/12">Container</th>
  <th class="px-4 py-3 w-2/12">Function</th>
</tr>

<tr class="bg-gray-700 border-b border-gray-600"  *ngFor="let error of projectErrors | async">
  <td class="px-4 py-3">{{ error.timeStamp }}</td>
  <td class="px-4 py-3">{{error.errorType}}</td>
  <td class="px-4 py-3">{{ error.errorMessage }}</td>
  <td class="px-4 py-3">{{ error.container }}</td>
  <td class="px-4 py-3">{{ error.insideFunction }}</td>
</tr>   
 
</table> 